.biomes-header {
  background-image: url("/images/Uni/image-banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 539px;
  display: flex;
  padding: 50px;
}

.biomes-header .container {
  display: flex;
  align-items: center;
}

.biomes .container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.biomes .list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 80px;
}
.list div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.biomes .list img {
  width: 200px;
  height: 200px;
  border-radius: 10%;
  overflow: hidden;
  border: 2px solid #5D5FEF;
}