.biomes-header {
  background-image: url("/images/World-Page/Biomes-Page/biomes-items-bg.jpg");
  height: 100vh;
}

.biomes-header .color-overlay {
  height: 100vh !important;
}

.biomes-header .row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  padding: 0 80px;
  margin: 0;
}

.biomes-header .row .img-info {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 22px;
}

h1 {
  font-size: 40px;
}

p {
  font-size: 20px;
}
img {
  width: 40%;
}