.equipment {
    text-align: center;
    }
    h2{
        text-align: Left center right justify
        ;
    }
    .dot1 {
        height: 150px;
        width: 150px; 
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        margin-left: 200px;
        margin-right: 200px;
        padding: 15px, 132px, 15px, 132px;
    }
    .dot2 {
        height: 150px;
        width: 150px; 
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        margin-left: 200px;
        margin-right: 200px;
        padding: 15px, 132px, 15px, 132px;
    }
    .dot3 {
        height: 150px;
        width: 150px; 
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        margin-left: 200px;
        margin-right: 200px;
        padding: 15px, 132px, 15px, 132px;
    }
    .dot4 {
        height: 150px;
        width: 150px; 
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        margin-left: 200px;
        margin-right: 200px;
        padding: 15px, 132px, 15px, 132px;
    }

    .dot21 {
        height: 150px;
        width: 150px; 
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        margin-left: 200px;
        margin-right: 200px;
        padding: 15px, 132px, 15px, 132px;
    }
    .dot22 {
        height: 150px;
        width: 150px; 
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        margin-left: 200px;
        margin-right: 200px;
        padding: 15px, 132px, 15px, 132px;
    }
    .dot23 {
        height: 150px;
        width: 150px; 
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        margin-left: 200px;
        margin-right: 200px;
        padding: 15px, 132px, 15px, 132px;
    }
    .dot24 {
        height: 150px;
        width: 150px; 
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        margin-left: 200px;
        margin-right: 200px;
        padding: 15px, 132px, 15px, 132px;
    }
    .dot31 {
        height: 150px;
        width: 150px; 
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        margin-left: 200px;
        margin-right: 200px;
        padding: 15px, 132px, 15px, 132px;
    }
    .dot32 {
        height: 150px;
        width: 150px; 
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        margin-left: 200px;
        margin-right: 200px;
        padding: 15px, 132px, 15px, 132px;
    }
    .dot33 {
        height: 150px;
        width: 150px; 
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        margin-left: 200px;
        margin-right: 200px;
        padding: 15px, 132px, 15px, 132px;
    }
    .dot34 {
        height: 150px;
        width: 150px; 
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        margin-left: 200px;
        margin-right: 200px;
        padding: 15px, 132px, 15px, 132px;
    }
    .dot41 {
        height: 150px;
        width: 150px; 
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        margin-left: 200px;
        margin-right: 200px;
        padding: 15px, 132px, 15px, 132px;
    }
    .dot42 {
        height: 150px;
        width: 150px; 
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        margin-left: 200px;
        margin-right: 200px;
        padding: 15px, 132px, 15px, 132px;
    }
    .dot43 {
        height: 150px;
        width: 150px; 
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        margin-left: 200px;
        margin-right: 200px;
        padding: 15px, 132px, 15px, 132px;
    }
    .dot44 {
        height: 150px;
        width: 150px; 
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        margin-left: 200px;
        margin-right: 200px;
        padding: 15px, 132px, 15px, 132px;
    }
    .dot51 {
        height: 150px;
        width: 150px; 
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        margin-left: 200px;
        margin-right: 200px;
        padding: 15px, 132px, 15px, 132px;
    }
    .dot52 {
        height: 150px;
        width: 150px; 
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        margin-left: 200px;
        margin-right: 200px;
        padding: 15px, 132px, 15px, 132px;
    }
    .dot53 {
        height: 150px;
        width: 150px; 
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        margin-left: 200px;
        margin-right: 200px;
        padding: 15px, 132px, 15px, 132px;
    }
    .dot54 {
        height: 150px;
        width: 150px; 
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        margin-left: 200px;
        margin-right: 200px;
        padding: 15px, 132px, 15px, 132px;
    }

    .gallery-img{
        display: flex;
        justify-content: center;
    }