.starting-header {
    background-image: url("/images/Getting-Started-Page/start-bg.jpg");
}
/* Tips */
.getting-started-tips .container {
    display: flex;
    flex-direction: column;
}

.getting-started-tips .tips {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.getting-started-tips .tips p {
    padding: 76px 122px;
    font-size: 1.3rem;
}

.getting-started-tips .tips-video {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.tips div {
    padding: 3rem;
}
/* Socials */
.socials {
    background-image: url("../images/Getting-Started-Page/footer-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.socials .color-overlay {
    height: 100vh;
}

.socials .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.socials .page-title {
    font-size: 4.4rem;
    width: 1089px;
    text-align: center;
}

.socials .subheading {
    font-size: 30px;
    width: 733px;
    text-align: center;
    line-height: 38px;
}

.socials .social-icons {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 30px;
   padding: 1px 4px;
}
.socials .social-icons .icons{
    font-size: 50px;
    color: #6BE9E6;
}
.social-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    z-index: 1;
}
.social-buttons a {
    padding: 12px 40px;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    color: #000000;
}