.flora-header {
    background-image: url("../../images/World-Page/Flora-Page/flora-bg.jpg");
}
/* flora Items */
.flora .container{
    display: flex;
    justify-content: center;
}
.flora .list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 80px;
}