.planet-header {
    background-image: url("../../images/World-Page/Planet4546B-Page/planet-bg.jpg");
}
.planet-info .container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 120px;
    gap: 100px;
}
.planet-info p{
    font-size: 20px;
}
.planet-info img {
    max-width: 100%;
}

/* gallery */
.planet-gallery .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
}
.planet-gallery .gallery-img{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.gallery-img div {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
}