.crafting-header {
  background-image: url("/images/Crafting-page/crafting-bg.png");
}

.section-1 .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 39px 95px;
  gap: 40px;
}

.section-1 .materials-text {
  font-size: 1.2rem;
  text-align: justify;
}
.section-2 .header {
  margin-top: 72px;
}
.section-2 .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}