.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 80px;
}
.list div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.item img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #5D5FEF;
    
}