    html {
        scroll-behavior: smooth;
    }

    .storyline-header {
        background-image: url("/images/Gameplay-page/storyline-bg.jpg");
    }

    /* section 1 */
    .section-1 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }

    .circle-warning {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }

    .warning {
        font-size: 30px;
        color: #212121;
    }

    .section-1 .table-of-contents {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 100px;
    }

    .row {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 50px;
    }

    .content-num a {
        color: #F2F7F8;
        text-decoration: none;
    }
    .content-info h1 {
        font-size: 30px;
    }
    .content-num h3 {
        font-weight: 600;
        text-align: start;
        width: 250px;
    }

    .section-2 .container {
        display: flex;
        justify-content: start;
        align-items: center;
        flex-wrap: wrap;
        gap: 100px;
    }
    .section-2 {
         padding: 70px 95px;
    }

    .section-2 .content-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 15px;
    }

    .content-info .content-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 14px;
    }

    .content-info p {
        font-weight: 500;
        font-size: 20px;
        line-height: 26px;
        text-align: justify;
    }