.storyline-header {
    background-image: url("/images/image-banner.png");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 539px;
    display: flex;
    align-items: center;
    padding: 112px;
    }

.storyline-header .container {
    display: flex;
    align-items: center;
    flex-direction: row;
}


.header h1 {
    font-size: 50px;
    text-align: center;
    line-height: 1.2;
    margin: 2rem 0; 
    padding-top: 100px;
}

.header h2 {
    text-align: center;
    color: aqua;
    margin-top: 50px; 
    font-size: 20px;
}

.heading-two h1 {
    text-align: center;
    margin-top: 200px;
    font-size: 50px;
}


/*circles*/
.circle {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    left: 180px;
    color: black;
    text-align: center;
    font-size: 15px;
    justify-content: center;

}

.flex-circle {
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 50%;
    background-color: aqua;
    margin: 70px;
    font-size: 50px;
    color: black;

}

.flex-circle h1 {
    margin-top: -30px;
    font-size: 20px;
    color: white;
}
/*circles*/


.row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}


.number1 {
    position: absolute;
    font-size: 40px;
    color: #ffff;
    top: 550px;
    right: 80px;
}


.number {
    justify-content: center;
    padding: 6%;

}

.title {
    float:left;
    margin-left: 200px;
    margin-top: 75px;
}

.description p {
    text-align: justify;
    margin-left: 600px;
    padding: 10px;
}

.title-2 {
    float:right;
    margin-right: 200px;
    margin-top: 60px;
}

.description-2 p {
    text-align: justify;
    margin-right: 600px;
    padding: 10px;
}
