.section-1-header {
    background-image: url("/images/Gameplay-page/section-1-bg.jpg");
}

.section-1 .materials-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-1 .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    padding: 20px;

}

.card-body {
    text-align: center;
}

.card-hover,
.item-hover {
    position: relative;
    margin: auto;
    overflow: hidden;
    transition: all 0.3s;
    display: block;
    transform: scale(1);
}

.card-hover:hover {
    transform: scale(1.1);
}

.item-hover:hover {
    transform: scale(1.1);
}

.card-title {
    margin-top: 10px;
    color: #212121;
    font-weight: 600;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.pda-header .container {
    text-align: center;
    margin-top: 200px;
    margin-bottom: 200px;
    font-size: 20px;
}

.oxygen-row, .pda-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 100px;
    gap: 33px;
}
.img-info p {
    font-size: 20px;
}
.materials-text{
    padding: 0 10rem;
    font-size: 20px;
}
