.survival-header {
    background-image: url("/images/Gameplay-page/survival-bg.jpg");
}

.survival .materials-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.survival .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    
}
.card-body{
    text-align: center;
}
.card-hover, .item-hover {
    position: relative;
    margin: auto;
    overflow: hidden;
    transition: all 0.3s;
    display: block;
    transform: scale(1);
}
.card-hover:hover {
    transform: scale(1.1);
}
.item-hover:hover{
    transform: scale(1.1);
}
.card-title {
    margin-top: 10px;
    color: #212121;
    font-weight: 600;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.item img {
    border-radius: 50%;
    border: 2px solid #5D5FEF;
}

/* .image1 {
    position: absolute;
    top: 800px;
    right: 10%;
    z-index: 2;
}

.text p {
    text-align: justify;  
    font-size: 20px;
    float: left;
    margin: 250px 800px 75px 100px;
}

.energy-header h1 {
    text-align: center;
    margin-top: 750px;
}

.energy-header h2 {
    text-align: center;
    margin-top: 200px;
    margin-bottom: 100px;
}
* {
    padding: 0;
    margin: 0;
}



.cards {
    width: 20%;
    background-color: white;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 1px 1px 10px black;
}

.image img {
    width: 70%;
    border-radius: 50%;
    padding: 10px;
    margin: 50px;
}

.title {
    text-align: center;
    color: black;
    padding: 10px;
}

.food-header .container {
    text-align: center;
    margin-top: 200px;
    margin-bottom: 200px;
    font-size: 20px;
}

.water-header .container {
    text-align: center;
    margin-bottom: 50px;

}

.circles {
    display: flex;
    align-items: center;
    justify-content: center;
 }
 
 .circle-1 {
     background-color: #bbb;
     height: 115px;
     width: 110px;
     border-radius: 50%;
     margin: 30px;
 
 }

 .divider {
    width: 1300px;
    height: 5px;
    background-color: aqua;
    display: inline-block;
    margin-top: 200px;
    margin-left: 100px;
    border-radius: 15px;
}



.flora-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 80px;
}
.list div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.item img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid #5D5FEF;
    
} */