.biomes-header {
  background-image: url("/images/World-Page/Biomes-Page/biomes-bg.jpg");
}

.biomes .container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.biomes .list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 80px;
}
.list div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}