.flora-header {
    background-image: url("/images/image-banner.png");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 539px;
    display: flex;
    padding: 50px;
}

.flora-header .container {
    display: flex;
    align-items: center;
}

.overview .container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 60px 95px;
    gap: 40px;
}

.overview-text {
    font-size: 20px;
    text-align: justify;
}
/* flora Items */
.flora .container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flora .list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 80px;
}
.list div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.flora .item img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #5D5FEF;
}